---
Language:        Cpp
BasedOnStyle:    LLVM

IndentWidth:             2
TabWidth:                2
UseTab:                  Never
ContinuationIndentWidth: 4  

AlignConsecutiveAssignments:   Consecutive
AlignConsecutiveDeclarations:  Consecutive
AlignConsecutiveMacros:        Consecutive
AlignOperands:                 Align
AlignTrailingComments:         true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine:    Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine:       false
AllowShortCaseLabelsOnASingleLine:  false
AllowShortEnumsOnASingleLine:       false

BinPackArguments:                         false
BinPackParameters:                        false
AllowAllArgumentsOnNextLine:              true
AllowAllParametersOfDeclarationOnNextLine: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction:       false
  AfterClass:          false
  AfterEnum:           false
  AfterStruct:         false
  AfterUnion:          false
  AfterNamespace:      false
  AfterControlStatement: false
  AfterCaseLabel:      false
  BeforeElse:          true
  BeforeWhile:         true
  IndentBraces:        false
  SplitEmptyFunction:  true
  SplitEmptyRecord:    true

SpaceBeforeParens:            ControlStatements
SpaceAfterCStyleCast:         true
SpacesInContainerLiterals:    true
SpacesInCStyleCastParentheses: false
SpaceInEmptyBlock:            false
SpaceInEmptyParentheses:      false
SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default

PointerAlignment: Right

NamespaceIndentation: All

ColumnLimit:          80
Cpp11BracedListStyle: true
SortIncludes:         Never
IncludeBlocks:        Preserve

ForEachMacros:
  - for_each
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
  - spa_list_for_each
  - spa_list_for_each_safe
  - wl_list_for_each
  - wl_list_for_each_safe

AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: AlwaysBreak