name: patternia PR Check

on:
  pull_request:
    branches: [main, dev]
    paths-ignore:
      - "README.md"
      - "CONTRIBUTING.md"
      - "docs/**"
      - "LICENSE"
      - ".github/ISSUE_TEMPLATE/**"

jobs:
  pr-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake -B build -DCMAKE_BUILD_TYPE=Debug

      - name: Build
        run: cmake --build build --parallel

      - name: Run Tests
        run: ctest --test-dir build --output-on-failure
