name: Build and Deploy Docs

on:
  push:
    branches: [main, experiment]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install MkDocs & Plugins
        run: |
          pip install --upgrade pip
          pip install mkdocs mkdocs-material mkdocs-material-extensions

      - name: Build MkDocs site
        run: mkdocs build --clean

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages
          keep_files: true
          destination_dir: ${{ github.ref_name == 'experiment' && 'experiment' || '' }}
